
html {
	height: 100%;
	/*Image only BG fallback*/
	
	/*background = gradient + image pattern combo*/
	background: url(backgrd.jpg) no-repeat;
}

table, th, td {
    border: 1px solid silver;
  }
table, th, td {
    border: 1px solid silver;
    border-collapse: collapse;
  }
th, td {
    padding: 15px;
  }
th {
    text-align: left;
  }
table {
    border-spacing: 5px;
  }
#t01 {
    width: 100%;
    background-color: #f1f1c1;
  }
#t01 tr:nth-child(even) {
    background-color: #eee;
  }
#t01 tr:nth-child(odd) {
    background-color: #fff;
}
#t01 th {
    color: white;
    background-color: rgb(94, 133, 218);
}
.button1 {
  background-color: green;
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button2 {
  background-color: rgb(238, 84, 73);
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button3 {
  background-color: red;
  background: url(delete.jpg) no-repeat;
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button4 {
  background-color: red;
  background: url(logout.png) no-repeat;
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
}
.button5 {
  background-color: red;
  background: url(logout.png) no-repeat;
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
}
.stud_list
{
    font-size: 25px;
    text-transform: uppercase;
    color: #dae1e8;
    margin-bottom: 10px;
}