*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-image: url("backpic.jpg");
    height: 100vh;
    -webkit-background-size:cover;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.navbar
{
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 100px;
    padding-right: 30px;
    padding-top: 50px;
}
nav
{
    flex: 1;
    text-align: right;
}
nav ul 
{
    display: inline-block;
    list-style: none;
}
nav ul li
{
    display: inline-block;
    margin-right: 70px;
}
nav ul li a
{
    text-decoration: none;
    font-size: 20px;
    color: rgb(255, 5, 5);
    font-family: sans-serif;
}

.wrapper{
    width: 1170;
    margin: auto;
}