<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Delete student login-details</title>
        {% load static %}
        <link href="{% static 'nsfas_table.css' %}" rel="stylesheet">
        <link rel="icon" href="{% static 'nsfas.png' %}">

    </head>
    <body>
        <table style="width:100%" id="t01">
            <thead>
                    <th>Student number</th>
                    <th>Password</th>
                    <th>Re-password</th>
                    <th>Action</th>
                </tr>
            
            </thead>
            <tbody>
                {% for stud in  stud_login %}
                    <tr>
                        <td>{{ stud.student_num }}</td>
                        <td>{{ stud.password }}</td>
                        <td>{{ stud.re_password }}</td>
                        
                       
                        <td><button><a href="/delete/{{ stud.student_num }}"><span class="button3">Delete</span></a></button></td>
                    </td>
                    </tr> 
                {% endfor %}
            </tbody>
            <button><a href="/nsfas/"><span class="button4">Back</span></a></button>
           
        </table>
        
        
    </body>
</html>