<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Students list</title>
        {% load static %}
        <link href="{% static 'nsfas_table.css' %}" rel="stylesheet">
        <link rel="icon" href="{% static 'nsfas.png' %}">

    </head>
    <body>
        <table style="width:100%" id="t01">
            <thead>
                <tr>
                    <th>Student number</th>
                    <th>Email</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>NSFAS status</th>
                    <th>Action</th>
                </tr>
            
            </thead>
            <tbody>
                {% for std in  stud %}
                    <tr>
                        <td>{{ std.student_num }}</td>
                        <td>{{ std.stud_email }}</td>
                        <td>{{ std.first_name }}</td>
                        <td>{{ std.last_name }}</td>
                        <td>{{ std.nsfas_status }}</td>
                       
                        <td><button><a href="/update/{{ std.student_num }}"><span class="button5">Update</span></a></button></td>
                    </td>
                    </tr> 
                {% endfor %}
            </tbody>
            <button><a href="/nsfas/"><span class="button4">Back</span></a></button>
            
                <h1 class="stud_list">Students login details</h1>
            
        </table>
        
        
    </body>
</html>