<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Attendance register</title>
        {% load static %}
        <link href="{% static 'nsfas_table.css' %}" rel="stylesheet">
        <link rel="icon" href="{% static 'nsfas.png' %}">

    </head>
    <body>
        <table style="width:100%" id="t01">
            <thead>
                <tr>
                    <th>Student number</th>
                    <th>Full Name</th>
                    <th>Join Time</th>
                    <th>Leave Time</th>
                    <th>Duration</th>
                    <th>Email</th>
                </tr>
            
            </thead>
            <tbody>
                {% for att in  attend %}
                    <tr>
                        <td>{{ att.student_num }}</td>
                        <td>{{ att.full_name }}</td>
                        <td>{{ att.join_time }}</td>
                        <td>{{ att.leave_time }}</td>
                        <td>{{ att.duration }}</td>
                        <td>{{ att.email }}</td>
                    </tr> 
                {% endfor %}
            
            </tbody>
            <button><a href="/nsfas_login/"><span class="button4">Logout</span></a></button>
        </table>
        <button><a href="/display_stud_data/"><span class="button1">Update NSFAS Status</span></a></button>
        <button><a href="/display_login_details/"><span class="button2">Delete Student Login-Details</span></a></button>
    </body>
</html>