<!DOCTYPE html>
<html>
{% load static %}
<link rel="stylesheet" href="{% static 'registration.css' %}">
<link rel="icon" href="{% static 'r.jpg' %}">

<body>
<div class="navbar">
    <nav>
        <ul id='MenuItems'>
            <li><a href="{% url 'home' %}">Home-Page</a></li>
        </ul>
    </nav>
</div>
<!-- multistep form -->
<form id="msform" action="registration2" method="POST">
  {% csrf_token %}
    <fieldset>
      <h2 class="fs-title">Student Registration Form</h2>
      <input type="text" name="student_num" placeholder="Student number" />
      <input type="password" name="password" placeholder="Password" />
      <input type="password" name="repassword" placeholder="Confirm Password" />
      <input type="submit" name="register" class="submit action-button" value="Register" />

      {% if messages %}
      {% for result in messages %}
      <b style="color: green;">{{result}}</b>
      {% endfor %}
      {% endif %}
    </fieldset>
  </form>

</body>
</html>