

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta chartset="UTF-8">
        <title>Student</title>
       {% load static %}
        <link rel="stylesheet" href="{% static 'student.css' %}">
        <link rel="icon" href="{% static 'nsfas.png' %}">

    </head>
    <body>
        <header>
            <div class="wrapper">
                <ul class="nav-area">
                    <li><a href="#">Login</a></li>
                </ul>
            </div>
        </header>

    </body>
</html>