<!DOCTYPE html>
<html>
	<title>{{stud.first_name}} {{stud.last_name}}</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'registration.css' %}">
	<link rel="icon" href="{% static 'nsfas.png' %}">

	<body>
	<div class="navbar">
		<nav>
			<ul id='MenuItems'>
				<li><a href="{% url 'display_stud_data' %}">Go-back</a></li>
			</ul>
		</nav>
	</div>
	<!-- multistep form -->
	<form id="msform" action="/update/{{stud.student_num}}" method="POST">
		<input type="hidden" name="student_num" id="student_num" required maxlength="20" value="{{stud.student_num}}"/>
		{% csrf_token %}

		<div class="fs-title">
			<label for="student_num" class="control-label col-sm-2">Student number</label>
			<input type="text" name="student_num" value="{{stud.student_num}}">
		</div> 
		
		<div class="fs-title">
			<label for="email" class="control-label col-sm-2">Enter-email</label>
			<input type="email" name="email" value="{{stud.stud_email}}">
		</div> 

		<div class="fs-title">
			<label for="first_name" class="control-label col-sm-2">First name</label>
			<input type="text" name="first_name" value="{{stud.first_name}}"/>
		</div>

		<div class="fs-title">
			<label for="last_name" class="control-label col-sm-2">First name</label>
			<input type="text" name="last_name" value="{{stud.last_name}}"/>
		</div>

		<div class="fs-title">
			<label for="nsfas_status" class="control-label col-sm-2">NSFAS Status</label>
			<input type="text" name="nsfas_status" value="{{stud.nsfas_status}}"/>
		</div> 

		<div class="fs-title">
		<button type="submit" class="submit action-button">ADD</button>
		
		</div>
		<div>
			{% if messages %}
			{% for result in messages %}
			<b style="color: green;">{{result}}</b>
			{% endfor %}
			{% endif %}
		</div>
		</div> 
		</form> 

	</body>
</html>